{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">
Revenue by Restaurant
</h2>

<div class="card p-4">

<table class="table table-hover">

    <thead>

        <tr>

            <th>Restaurant</th>
            <th>Revenue</th>

        </tr>

    </thead>

    <tbody>

    {% for r in revenue_data %}

        <tr>

            <td>{{ r[0] }}</td>

            <td>Rs {{ "{:,.0f}".format(r[1]) }}</td>

        </tr>

    {% endfor %}

    </tbody>

</table>

</div>

{% endblock %}